@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-primary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



@font-face {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama-Regular.woff') format('woff');
}
/* Main section Style */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* Shared Style */

:root{
    --primary-clr:rgb(230, 83, 60);
    --primary-txt-clr:rgb(255, 255, 255);
    --secondary-txt-clr:rgba(255, 255, 255, 0.5);
    --secondary-bg-clr:rgb(34, 34, 34)
    
}

body{
    width: 100%;
    margin: 0;
    background-color: black;
}

header{
    height: 715px;
    padding-left: 190px;
    padding-right: 190px;
    margin-bottom: 0;
    
}

.display-flex{
    display: flex;
}

.fbg-clr{
    background-image: linear-gradient(#111111,#605f5f,#111111);
}


.primary-txt-clr{
    color: rgb(255, 255, 255);
}
.secondary-txt-clr{
    color: rgba(255, 255, 255, 0.5);

}

.primary-btn{
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background-color: var(--primary-clr);
    color: var(--primary-txt-clr);
    font-size: 1.12rem;
    font-weight: 600;
    
}

.secondary-btn{
    width: 224px;
    height: 54px;
    border: 1px solid var(--primary-txt-clr);
    border-radius: 42px;
    background-color: #111111;
    color: var(--primary-txt-clr);
    font-size: 1.12rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;


}




    


/*___________________________________________*/


/* Navbar Style */

.navbar{
    justify-content: space-between;
    align-items: center;

    
    
}

.nav-title,.foot-title{
    color: var(--primary-clr);
    font-style: italic;
    font-size: 2.25rem;
    margin-right: 500px;
}

.nav-list{
    text-decoration: none;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0.1);
    height: 46px;
    align-items: center;
    border-radius: 39px;
    color: var(--primary-txt-clr);
    padding-left: 2px;
}

.spcl-nav-item{
    display: flex;
    width: 92px;
    height: 40px;
    background-color: var(--primary-clr);
    border-radius: 46px;
    align-items: center;
    justify-content: center;
   
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

/* Banner Style */

.spc-font{
    font-family: "Miama";
    font-weight: 400;
}

.banner-motive{
    width: 50%;
    margin-right: 178px;
}

.bnr-mtv-title{
    font-weight: 900;
    font-size: 4.8rem;
    color: var(--primary-txt-clr);
    margin-bottom: 28px;
    margin-top: 50px;
}

.bnr-mtv-description{
    color: var(--secondary-txt-clr);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px

    
}

.btn1{
    margin-right: 20px;
}

.banner-image{
    width: 349px;
    height: 580px;
}
.banner-image img{
    width: 100%;
}

/* Box related Style */

.boxshape{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-clr);
    margin-right: 8px;
   

}

.box-container{
    flex-direction: column;
}

.box-1{
    width: 196px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(34, 34, 34, 0.54);
    box-shadow: 0px 0px 30px;
    margin-top: -200px;
    margin-left: -70px;
    align-items: center;
    justify-content: center;
    
}

.box-2{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px;
    margin-top: -350px;
    margin-left: 245px;
    
}
.box-dig1{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primary-txt-clr);
}
.box-text1{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-txt-clr);
}

.box-dig2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-txt-clr);
    margin-top: 8px;
    margin-bottom: 0px;
}

.box-text2{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-txt-clr);
}


/* Habit Part Style */

.h-title,.h-description{
    text-align: center;
}

.h-title{
    font-size: 3rem;
    font-weight: 900;
}

.habits{
    width: 1044px;
    height: 452px;
    margin-top: 100px;
    margin-left: 198px;
}

.elements-exercise{
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}
.box{
    width: 231px;
    height: 274px;
}

.elements-exercise img{
    height: 131px;
    border-radius: 50%;
}

/* Running Extra mile style */

.run-xtra-mile{
    width: 1060px;
    height: 371px;
    background-color:var(--secondary-bg-clr); 
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    padding-left: 54px;
    padding-right: 32px;
    margin: 0 auto;
    margin-top: 100px;
    
}
.xmile-title{
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight: 900;
}

.xmile-descrip{
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 14px;
}

.xmile-left{
    width: 50%;
}

.xmile-img img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    
}

/* Team related Style */

.team{
    margin-top: 100px;
    text-align: center;
}
.team-title{
    font-size: 3rem;
    font-weight: 900;
}

.team-des{
    font-size: 0.875rem;
    font-weight: 400;

}

.team-img{
    margin-top: 50px;
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    background-color: var(--secondary-bg-clr);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    

}

.member{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    
}
.member img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.member-name{
    margin-top: -90px;
       
}

.name,.resignation{
    text-align: left;
    margin: 0;
    margin-left: 20px;
}
.name{
    margin-top:30px ;
    
}

  /* BMI calculator Style */

  .calculator-heading{
    text-align: center;
}

.Calculator-title{
    font-size: 3rem;
    font-weight: 900;
}

.calculator{
    max-width: 105%;
    height:488px ;
    background-color: var(--secondary-bg-clr);
    margin-top: 90px;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    justify-content: space-between;
    
    
    
}

table {
        
    border-collapse: collapse;
        
}
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid var(--secondary-txt-clr);
}
th{
    color: var(--primary-txt-clr);
}
td{
    color: var(--secondary-txt-clr);
}


.main-calculator {
    max-width: 100%;
    margin: 0;
}

.input-group {
    margin-bottom: 20px;
}

input, select {
    width: 283px;
    height: 48px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    border-radius: 18px;
    background-color: #555;
    color: var(--secondary-txt-clr);

}

.calculator-value{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
   

}
.activity{
    width: 100%;
    height: 48px;
}
  
/* Shop ralated Style */

.shop-upper{
    text-align: center;
    
}

.shop-name{
    font-family:"Miama";
    font-size: 5rem;
    font-weight: 700
}

.shop-items{
    max-width: 100%;
    height: 600px;
    margin-top: 50px;
    border: 3px solid var(--secondary-bg-clr);
    border-radius: 18px;

}

.for-bg{
    width: 90%;
    height: 70%;
    background-color: var(--secondary-bg-clr);
    margin-top: 100px;
    margin-left: 70px;
    border-radius: 50px;
    justify-content: space-around;
    padding-top: 15px;
}

.card{
    width:250px;
    height: 250px;
    border: 1px solid var(p);
    background-color: #111111; 
    border-radius: 25px;

}


.card p {
    text-align: center;
}
.card img{
    width: 90%;
    height: 80%;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 25px;
}

.card > button{
    width: 70%;
    margin-left: 35px;
}

.more{
    margin-top: -60px;
    margin-left: 1130px;
}

/* Footer section Style */


.footer{
    width: 100%;
    height: 489px;
    background-color: var(--secondary-bg-clr);
    margin-top: 100px;
}




.footer ul{
    list-style: none;
    padding: 0;
    
}

.footer li{
    color: var(--secondary-txt-clr);
    margin: 0;
    margin-bottom: 15px;
    

}
.footer-des{
    width: 1060px;
    height: 250px;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.footer-part{
    width: 33%;
    margin-right: 55px;
}

.footer-final{
    width: 1060px;
    margin: 0 auto;
}

.footer hr {
    border: none; 
    height: 1px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    margin: 10px 0;
  }

  .footer-final p{
    text-align: center;
  }


  /* Responsive Part Style */

@media screen and (max-width:576px) {
    .banner,.elements-exercise,.footer-des,.calculator,.for-bg{
        flex-direction: column;
    }
    header{
        padding: 10px;
        height: 100%;
       

    }

    .banner-motive,.banner-image{
        width: 100%;
        height: 100%;
    }

    /* .banner-image{
        width: 353px;
        height: 588px;
        top: 679px;
    }
     */
    
    .nav-list{
        visibility: hidden;
    }
    
    .nav-list{
        width: 20px;
        height: 15px;
        background-color: #f0f0f0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .nav-item{
        margin: 0;
    }
    .box-1{
        margin-top: -330px;
        margin-left: 2px;
    }
    .box-2{
        margin-top: -295px;
        margin-left: 185px;
        width: 50%;
    }
    
    .btn-section{
        display: flex;
    }
    .btn1, .btn2{
        padding: 8px 20px;

    }
    
    .micon{
        width: 35px;
        height: 5px;
        background-color: var(--primary-txt-clr);
        margin: 6px 0;

    }
    .nav-title{
        width:0%;
        margin-right: 0;
    }


    .habits{
        margin-left: 50px;
        width: 75%;
        margin-bottom: 20px;
        

    }
    .h-title{
        font-size: 2rem;
        
    }
    .elements-exercise{
        align-items: center;
    }

    
    
    .run-xtra-mile{
        position: relative;
        width: auto;
        height: auto;
        left: 20px;
        top: 788px;
        left: 0px;
        display: grid;
        grid-template-rows: repeat(2,fr);
        padding-left: 10px;
        padding-right: 0px;
        text-align: start;
        margin-left: 0;

        
        
      
        
    }

    

    .xmile-btn{
        width: 90%;
        margin-top: 2px;
        margin-bottom: 2px;
        
    }
    .xmile-title{
        font-size: 2rem;
        padding: 0;
    }
    .xmile-left{
        width: calc(100% - 4px);
        
    }
    .xmile-img{
        width: calc(100% - 10px);
        height: calc(100% - 8px);
    }

    .team{
        position: absolute;
        width: 100%;
        height: 772px;    
        top: 5050px;
        margin-left: 0;
        margin-right: 0;


    }

    .team-title,.team-des{
        width: 100%;
        text-align: center;
    }
    
    .team-img{
        width: 318px;
        height: 1800px;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin-left: 0px;
    }

    .footer{
        position: absolute;
        width: 100%;
        height: 986px;
        top: 9900px;
        padding: 0;
    }

    .footer-des{
        width: 100%;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        
    }

    .footer-final{
        position:absolute;
        top: 900px;
        width: 100%;
        height: 10%;
    }

    .BMI-Calculator{
        position: absolute;
        width: 100%;
        height:auto;
        left: 0;
        top: 3438px;
    }
    .calculator-heading{
        text-align: left;
        width: 100%;
        
    }
    .calculator{
        max-width: 100%;
        height:1088px ;
        background-color: var(--secondary-bg-clr);
        margin-top: 90px;
        margin-bottom: 100px;
        padding: 0;
        padding-top: 50px;
        padding-left: 20px;
    
    }
    .calculator-chart{
        padding-left: 30px;
        
    }
    input, select {
        width: 110.5px;
        height: 48px;
        padding: 12px 40px 12px 20px;
        margin-top: 5px;
        border-radius: 5px;
        border: none;
        border-radius: 18px;
        background-color: #555;
        color: var(--secondary-txt-clr);
    }
    .calculator-value{
        gap: 0px;
    }


    .shop{
        position: absolute;
        width: 100%;
        height: 986px;
        left: 0;
        top: 7190px;
        padding: 0;
    }

    .shop-items{
        height: 2000px;
        border: none;
    }
    .more{
        margin-left: 150px;
        margin-top: -390px;
    }
    .for-bg{
        margin-left: 20px;
       align-items: center;
       justify-content: space-evenly;
       
    }
    
}